<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valuta koverterer</title>
  </head>

<body>
  <div class="container">
    <form action="/" method="post">
      <div>
        <label for="valuta2">Valuta en:</label>
        <input type="number" name="amount2" id="amonut2" required>
        <input type="text" name="valuta1" id="valuta1" required>
      </div>
      </div>
      <div>
        <label for="valuta2">Valuta to:</label>
        <input type="number" name="amount2" id="amomut2" required>
        <input type="text" name="valuta2" id="valuta2" required>
      </div>
      <button type="submit">Exchange</button>
    </form>
  </div>

</body>

</html>