<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Valutakonverterer</title>
</head>

<body>
  <link rel="stylesheet" href="/style.css">
  <div class="container">
    <h1>Currency converter </h1>

    <form action="/" method="POST">
        <input type="number" name="amount1" placeholder="Amount" required>

        <input type="text" name="currency1" placeholder="From (e.g. USD)" required>

        <input type="text" name="currency2" placeholder="To (e.g. NOK)" required>

        <button type="submit">Convert</button>
    </form>

    <% if (result) { %>
        <div class="result">
            <%= result.amount1 %> <%= result.base %> =
            <%= result.convertedAmount.toFixed(2) %> <%= result.target %>
        </div>
    <% } %>
</div>

</body>

</html>